{% extends "common_base.html" %}


        {% block additionalscripts %}{% endblock %}




















{% block jumbo_title %}
Computational Research and IT Training Resources
{% endblock %}



{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ category }} alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p>{{ message }}</p>
</div>
{% endfor %}

{% block page_header %}
<div class="page-header">
  <h1>{% block content_title %}{% endblock %}</h1>
</div>
{% endblock %}

{#{% block maincontent %}{% endblock %}#}

{% block rhsblock %}


        <ul class=" navbar-nav mr-auto"><!---->
            <li class="nav-item active"><a class="navbar-brand" href="{{ url_for('index') }}">Online Learning</a></li>
    {#      <li class="nav-item active">#}
    {#        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>#}
    {#      </li>#}


              {% block search_bar %}
                <form action="{{ url_for('index') }}"
                      class="bd-search d-flex align-items-center"
                      id="search-form" method="get" role="search">
                  <div class="form-group">
                    <input class="form-control mr-sm-2" name="q" placeholder="Search" aria-label="Search" type="text" value="{% if search %}{{ search }}{% endif %}">
                  </div>
                </form>
              {% endblock %}
<hr/>
            <li class="nav-item">

            {% for t in toptopics %}
                <a class="btn btn-sm btn-outline-tagcolour{{ (3 * t.id + 1) % 20 + 1 }}" href="{{ app_path }}topics/{{ t.id }}">{{ t }}</a>
            {% endfor %}
            <a  class="nav-link" href="{{ url_for('list_topics') }}">...all topics</a></li>

            <li class="nav-item">
            {% for t in toptags %}
                <a class="btn btn-sm btn-outline-tagcolour{{ (3 * t.id + 2) % 20 + 1 }}" href="{{ app_path }}tags/{{ t.id }}">{{ t }}</a>
            {% endfor %}
                <a  class="nav-link" href="{{ url_for('list_tags') }}">...all tags</a></li>

            {% if LDAPUser.uid_trim()=="cenv0594" %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('drafts') }}">Drafts</a>
                  <a class="dropdown-item" href="{{ url_for('create') }}">Create Entry</a>
{#                  <div class="dropdown-divider"></div>#}
{#                  <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>#}
                </div>
              </li>
{#            {% else %}#}
{#                <li class="nav-item"><a href="{{ url_for('login') }}">Log In</a></li>#}
            {% endif %}
                     {% block extra_header %}{% endblock %}


        </ul>



{% endblock %}





      <footer>
        <hr />
        <p>SoGE IT, CSO, 2018</p>
      </footer>
  </body>
</html>
