

{% macro full_entry( entry ) %}
    {% for tag in entry.topics %}
        <a class="btn btn-sm btn-outline-tagcolour{{ (3 * tag.id + 1) % 20 + 1 }}" href="{{ app_path }}topics/{{ tag.id }}">{{ tag }}</a>
    {% endfor %}

    {{ entry.html_content }}
    <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %I:%M %p') }}</p>
    This article has been viewed {{ entry.views }} times.

    <p>
    {% for tag in entry.tags %}
        t<a class="btn btn-sm btn-outline-tagcolour{{ (3 * tag.id + 2) % 20 + 1 }}" href="{{ app_path }}tags/{{ tag.id }}">{{ tag }}</a>
    {% endfor %}

    <hr>

    {% for c in entry.comments %}
        <b>{{ c.username }}</b>
        {{ c.html_content }}
        {{ c.created_on.strftime('%m/%d/%Y at %I:%M %p') }}
    {% endfor %}
{% endmacro %}

{% macro entries( entries ) %}

    {% for entry in entries %}
{#      {{ entry.rank() }}<br/>#}
{#    {% if search %}#}
{#      {% set entry = entry.entry %}#}
{#    {% endif %}#}
        {% if entry.published or LDAPUser.uid_trim()=='cenv0594' %}
            <div class="card" >
                <div class="card-body">
                    <a href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
                        <h4>{{ entry.title }}{% if not entry.published %} (draft){% endif %}</h4></a>

                    {% for tag in entry.topics %}
                        <a class="btn btn-sm btn-outline-tagcolour{{ (3 * tag.id + 1) % 20 + 1 }}" href="{{ app_path }}topics/{{ tag.id }}">{{ tag }}</a>
                    {% endfor %}
                    </a>
                    <p>{{entry.content[:100]|safe}}...<p>
                    <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %I:%M %p') }}, {{ entry.comments.count() }} comments</p>

                    <p>
                    {% for tag in entry.tags %}
                        <a class="btn btn-sm btn-outline-tagcolour{{ (3 * tag.id + 2) % 20 + 1 }}" href="{{ app_path }}tags/{{ tag.id }}">{{ tag }}</a>
                    {% endfor %}</p>

                </div>
            </div>
            <br/>
        {% endif %}
    {% else %}
        <p>No entries have been created yet.</p>
    {% endfor %}

{% endmacro %}
