

{% macro newsbrief( news) %}
    <p>Information from SoGE IT on new services, maintenance downtimes and updates.</p>
    <ul>
        {% for n in news %}
            <li><a href="{{ url_for('news_item', news_id=n.id) }}">{{ n.title }}</a></li>
        {% endfor %}
    </ul>
{% endmacro %}
{% macro entries( entries ) %}

    {% for entry in entries %}
{#      {{ entry.rank() }}<br/>#}
{#    {% if search %}#}
{#      {% set entry = entry.entry %}#}
{#    {% endif %}#}
        <div class="card" >
            <div class="card-body">
        <a href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
        <h4>{{ entry.title }} </h4>
            {% for tag in entry.topics %}
                <a class="btn btn-sm btn-outline-tagcolour{{ (3 * tag.id + 1) % 20 + 1 }}" href="{{ app_path }}topics/{{ tag.id }}">{{ tag }}</a>
            {% endfor %}
      </a>
                <p>{{entry.content[:100]|safe}}...<p>
        <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %I:%M %p') }}, {{ entry.comments.count() }} comments</p>

                <p>{% for tag in entry.tags %}
                <a class="btn btn-sm btn-outline-tagcolour{{ (3 * tag.id + 1) % 20 + 1 }}" href="{{ app_path }}tags/{{ tag.id }}">{{ tag }}</a>
            {% endfor %}</p>

    </div>
        </div>
        <br/>

  {% else %}
    <p>No entries have been created yet.</p>
  {% endfor %}



{#    <p>Information from SoGE IT on new services, maintenance downtimes and updates.</p>#}
{#    {% for news_article in news %}#}
{#        <div class="card" >#}
{#            <div class="card-body">#}
{#                <a href="{{ url_for('news_item', news_id=news_article.id) }}"><h4>{{news_article.title}}</h4></a>#}
{#                <p>{{news_article.body[:100]|safe}}...<p>#}
{#                <p><i>Published: {{ news_article.created_on }} (Updated: {{ news_article.updated_on }}) </i></p>#}
{#            </div>#}
{#        </div>#}
{#        <br/>#}
{#    {% endfor %}#}

{% endmacro %}
{% macro whatsonbrief( nowevents=[], futureevents=[]) %}
    <p>Upcoming training events and seminars from SoGE IT.</p>
    <ul>
        {% for event in nowevents %}
            <li>
                <a href="{{ url_for('events') }}">{{ event.title }}</a>
            </li>
        {% endfor %}
        {% for event in futureevents %}
            <li>
                <a href="{{ url_for('events') }}">{{ event.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
{% macro whatson( nowevents=[], futureevents=[]) %}
{#    <div class="container" >#}
{#        <div class="row">#}
{#            <div class="col">#}

                <h3>Today ({{ nowevents|length }})</h3>
                {% for event in nowevents %}
                    <div class="card" >
                        {#  <img class="card-img-top" src="..." alt="Card image cap">#}
                        <div class="card-body">
                            <article class="event">

                                    <div class="event-date">
                                        <p class="event-monthnow">{{ event.eventdate_str() }}</p>
                                        <p class="event-day">{{ event.eventday_str() }}</p>
                                    </div>

                                    <div class="event-desc">
                                        <h4 class="event-desc-header">{{ event.title }}</h4>
                                        <p class="event-desc-detail"><span class="event-desc-time">{{ event.subtitle }}</span></p>
                                        <p>{{ eventdescription }}<br/>{{ event.room }}, {{ event.starttime }}-{{ event.endtime }}</p>
                                        <!--<a href="#" class="rsvp button">RSVP &amp; Details</a>-->
                                    </div>
                            </article>
                        </div>
                    </div>
                    <br/>

                {% endfor %}
    {#        </div>#}


    {#        <div class="row">#}
                <h3>Upcoming Events ({{ futureevents|length }})</h3>
                {% for event in futureevents %}
                    <div class="card" >
                        {#  <img class="card-img-top" src="..." alt="Card image cap">#}
                        <div class="card-body">
                            <article class="event">

                                <div class="event-date">
                                    <p class="event-monthfuture">{{ event.eventdate_str() }}</p>
                                    <p class="event-day">{{ event.eventday_str() }}</p>
                                </div>

                                <div class="event-desc">
                                    <h4 class="event-desc-header">{{ event.title }}</h4>
                                    <p class="event-desc-detail"><span class="event-desc-time">{{ event.subtitle }}</span></p>
                                    <p>{{ eventdescription }}<br/>{{ event.room }}, {{ event.starttime }}-{{ event.endtime }}</p>
                                    <!--<a href="#" class="rsvp button">RSVP &amp; Details</a>-->
                                </div>
                            </article>
                        </div>
                    </div>

                    <br/>

                {% endfor %}


{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endmacro %}

{% macro whatsonpast( pastevents=[]) %}
{#    <div class="container" style="background-color: #ffffff" >#}

{#        <div class="row">#}
{#            <div class="col">#}

                <h3>Past Events ({{ pastevents|length }})</h3>
                <br/>
                {% for event in pastevents %}
                    <div class="card" >
                        {#  <img class="card-img-top" src="..." alt="Card image cap">#}
                        <div class="card-body">
                            <article class="event">

                                <div class="event-date">
                                    <p class="event-monthpast">{{ event.eventdate_str() }}</p>
                                    <p class="event-day">{{ event.eventday_str() }}</p>
                                </div>
                {##}
                                <div class="event-desc">
                                    <h4 class="event-desc-header">{{ event.title }}</h4>
                                    <p class="event-desc-detail"><span class="event-desc-time">{{ event.subtitle }}</span></p>
                                    <p>{{ eventdescription }}<br/>{{ event.room }}, {{ event.starttime }}-{{ event.endtime }}</p>
                                    <!--<a href="#" class="rsvp button">RSVP &amp; Details</a>-->
                                </div>
                            </article>
                        </div>
                    </div>

                    <br/>


                {% endfor %}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endmacro %}