{% extends "base.html" %}

{% import '../../data_survey/app/templates/content_macros.html' as layout with context -%}


{% block title %}{{ entry.title }}{% endblock %}

{% block content_title %}
    {{ entry.title }}{% endblock %}

{% block extra_header %}
  {% if LDAPUser.uid_trim()=="cenv0594" or LDAPUser.uid_trim()=="hert1424" %}
    <li><a href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a></li>
  {% endif %}
{% endblock %}

{% block content %}


    {{ layout.full_entry(entry) }}


{% endblock %}
