{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content_title %}
    {{ entry.title }}{% endblock %}

{% block extra_header %}
  {% if LDAPUser.uid_trim()=="cenv0594" %}
    <li><a href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a></li>
  {% endif %}
{% endblock %}

{% block content %}
    {{ entry.html_content }}
    <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %I:%M %p') }}</p>
    This article has been viewed {{ entry.views }} times.

    <hr>

    {% for c in entry.comments %}
        <b>{{ c.username }}</b>
        {{ c.html_content }}
        {{ c.created_on.strftime('%m/%d/%Y at %I:%M %p') }}
    {% endfor %}
{% endblock %}
