{% extends "base.html" %}
{% import 'content_macros.html' as layout with context -%}

{#{% block title %}Online Learning pages{% endblock %}#}

{% block title %}{% if tags|length>0 %}All Tags{% else %}{{ tag }}{% endif %}{% endblock %}

{% block content_title %}{% if tags|length>0 %}All Tags{% else %}

    {% if topics|length>0 %}All Topics{% else %}
        <a class="btn btn-lg disabled btn-outline-tagcolour{{ (3 * tag.id + 1) % 20 + 2 }}" href="{{ app_path }}tags/{{ tag.id }}">
            <h2>{{ tag }}</h2>
        </a>
    {% endif %}
{% endif %}{% endblock %}

{% block extra_header %}
{#  {% if session.logged_in %}#}
{#    <li><a href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a></li>#}
{#  {% endif %}#}
{% endblock %}

{% block content %}


    {% if tags|length>0 %}
        {% for t in tags %}
            <a class="btn btn-sm btn-outline-tagcolour{{ (3 * t.id + 1) % 20 + 1 }}" href="{{ app_path }}tags/{{ t.id }}">{{ t }}</a>
        {% endfor %}
    {% else %}


        {% if videos|length>0 %}
            <h3>Videos ({{ videos|length }})</h3>

            <div class="fullscreen-image-slider">
                <div class="orbit" role="region" aria-label="FullScreen Pictures" data-orbit>
                    <ul class="orbit-container">
                        <button class="orbit-previous">
                            <span class="show-for-sr">Previous Slide</span>
                            <span class="nav fa fa-chevron-left fa-3x"></span>
                        </button>
                        <button class="orbit-next">
                            <span class="show-for-sr">Next Slide</span>
                            <span class="nav fa fa-chevron-right fa-3x"></span>
                        </button>

                        {% for v in videos %}
                            <li class="
                                {% if loop.index0==0 %}is-active {% endif %}
                                orbit-slide">
                               <div class="flex-video" style="width:420px; height:315px">
                                    <iframe  style="width:420px; height:315px" src="{{ v.link }}" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <figcaption class="orbit-caption">
                                    <h1>{{ v.page_inst.title }}</h1>
                                </figcaption>
                            </li>


                        {% endfor %}


                    </ul>
                </div>
            </div>




        {% endif %}


        {% if tag.pagestags|length>0 %}
            <h3>Articles ({{ tag.publishedpagestags() }})</h3>

            <ul>

                {{ layout.entries(tag.pagestags) }}

            </ul>

        {% else %}

            No pages are currently available to you.

        {% endif %}
    {% endif %}

{% endblock %}
